<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- Bean implementing edu.uw.ext.framework.account.AccountFactory -->
  <bean id="AccountFactory" class="edu.uw.ck.account.AccountFactoryImpl"/>

  <!-- Bean implementing edu.uw.ext.framework.account.Address -->
  <bean id="Address" class="edu.uw.ck.account.AddressImpl" scope="prototype"/>

  <!-- Bean implementing edu.uw.ext.framework.account.CreditCard -->
  <bean id="CreditCard" class="edu.uw.ck.account.CreditCardImpl" scope="prototype"/>

  <!-- Bean implementing edu.uw.ext.framework.account.Account -->
  <bean id="Account" class="edu.uw.ck.account.AccountImpl" scope="prototype"/>

  <!-- Bean implementing edu.uw.ext.framework.account.AccountManagerFactory -->
  <bean id="AccountManagerFactory" class="edu.uw.ck.account.AccountManagerFactoryImpl"/>

  <!-- Bean providing implementation of edu.uw.ext.framework.account.DaoFactory -->
  <bean id="DaoFactory" class="edu.uw.ck.dao.DaoFactoryImplJson"/>
  
  <!-- Bean implementing edu.uw.ext.framework.broker.BrokerFactory -->
  <bean id="BrokerFactory" class="edu.uw.ck.broker.BrokerFactoryImpl"/>
  
  <!-- Bean implementing ...framework.exchange.NetworkExchangeAdapterFactory -->
  <bean id="NetworkExchangeAdapterFactory" class="edu.uw.ck.exchange.ExchangeNetworkAdapterFactoryImpl"/>

  <!-- Bean implementing ...framework.exchange.NetworkExchangeProxyFactory -->
  <bean id="NetworkExchangeProxyFactory" class="edu.uw.ck.exchange.ExchangeNetworkProxyFactoryImpl"/>
  
</beans>
